<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.endive.eventplanner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Goolge Maps API Key -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyANDm2tEzfM8hJn8M9sXinLFJRXdQifDrA" />

        <activity
            android:name=".activity.MapActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.FilterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.EventDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.SearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrganizeProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebUrlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PackageDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CouponActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderSummaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebLinkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.FillTicketDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.RecommendedEventsActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name=".util.GenericFileProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider826790230830686"
            android:exported="true" />

        <!-- [START firebase_service] -->
        <service android:name=".activity.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name=".activity.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->
        <activity
            android:name=".activity.PlacedOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BuyTicketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HistoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>
    </application>

</manifest>